.single-product {

	.entry-content .wrapper {
		padding: $grid-gutter-width*.5 0;
	}

    h2, .h2,
    h3, .h3,
    h4, .h4 {
        margin-top: $spacer * 2;
    }

    h2 {
        font-weight: $font-weight-normal;
    }

    h3 {
        font-size: $h4-font-size;
    }

    .product-summary {
        padding-bottom: 8rem;
        border-bottom: $border-width solid $border-color;

        .product-serie.invisible {
            display: none;
        }

    }

    #main > article > .entry-content > :first-child {
        padding-top: 7rem!important;
    }
}

.product-serie {
    font-size: $font-size-lg;
    color: $primary;
    margin-bottom: 0;
}

.product-serie-value {
    font-weight: $font-weight-bold;
}

.product-card {
    background-color: $gray-400;
    transition: $transition-base;
    border-radius: 0 0 $border-radius $border-radius;

    *,
    &:hover * {
        color: $white;
    }

    &:hover {
        background-color: $primary;
        box-shadow: $box-shadow;
    }

    .product-serie {
        font-size: $font-size-base;
    }

    .card-img-top,
    .card-img-top * {
        background-color: $white;
        height: 300px;
        width: 100%;
        object-fit: contain;
        margin-bottom: 0 !important;
    }

    .card-title {
        font-weight: $font-weight-light;
        font-size: $font-size-lg;
        line-height: $headings-line-height;
    }

    .card-body {
        min-height: 130px;
    }

}

.post-type-archive-product .breadcrumb,
.tax-product_cat .breadcrumb,
.rich-term-description {
    background-color: $light;
}

.post-type-archive-product .breadcrumb,
.tax-product_cat .breadcrumb {
    margin-bottom: 0 !important;
}

.wp-block-group.rich-term-description {
    padding-bottom: 8rem;
    margin-bottom: $spacer * 2 !important;
}

.subcategory {
    @include media-breakpoint-up(md) {
        border-top: 1px solid $primary-20;

        .subcategory-row > div:not(:first-child) {
            padding-top: $spacer * 2;
        }

    }

    .card-body {
        min-height: 120px;
    }
    
    .subcategory-archive-image {
        // background-image: url('../img/nortek-placeholder.png');
        // background-size: cover;
        // background-position: center;

        &.has-product-image,
        &.has-product-image img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &.has-not-image {
            background-image: url('../img/nortek-placeholder.png');
            background-size: cover;
            background-position: center;
            opacity: .2;
        }

        &.has-icon-image {
            padding-right: 20%;
        }

    }
    .subcategory-archive-image-wrapper,
    .subcategory-archive-image *,
    img.subcategory-archive-image {
        width: 100%;
        // height: 200px;
        // height: 100%;
        // object-fit: cover;
    }

    .subcategory-archive-image-wrapper {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .subcategory-archive-image-wrapper {
        position: relative;
        
        &:after {
            content: "";
            position: absolute;
            background-color: rgba( $black, .05);
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }

    // .subcategory-archive-image *,
    // img.subcategory-archive-image,
    .subcategory-archive-image-column {
        clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
        min-height: 200px;
    }

}

.category {
    text-align: center;

    .category-title {
        text-transform: uppercase;
        font-size: .7rem;
        line-height: $headings-line-height;
    }

    img {
        width: 70px;
    }

}

.hfeed article.case-study {

    @include media-breakpoint-up(md) {

        &:nth-child(even)> .row {
            flex-direction: row-reverse;
        }

    }
}

.single-case-study {

    .entry-content {

        h2:not(:first-child),
        h3:not(:first-child) {
            margin-top: $spacer * 4;
        }
    }
}