table {
    @extend .table;
    @extend .table-striped;
    @extend .table-hover;
    // @extend .table-responsive;  
	@extend .table-bordered;

	font-size: $font-size-sm;

	th {
		padding-left: 0;
		font-size: $font-size-sm;
	}
}